spring:
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:

  docker:
    compose:
      enabled: false

  security:
    enabled: false

server:
  port: 8081

logging:
  level:
    root: WARN
    org.springframework.boot: INFO
